@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}

.body{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, black 0%, white 100%);
}

.body h1{
    font-size: 100%;
}